{erl_opts,[debug_info]}.

{deps,[
	{erlang_ale,{git,"https://github.com/esl/erlang_ale", {tag,"v0.1.0"}}}
]}.

{relx,[
	{release,{rpimonitor,"1.0.0"},[rpimonitor,sasl]},
	{mode,dev},
	{vm_args,"./config/vm.args"},
	{sys_config,"./config/prod.config"}
]}.

{profiles,[{prod,[{relx,[{mode,minimal}]}]}]}.

{shell,[{config,"config/dev.config"}]}.

