{erl_opts,[debug_info]}.

{deps,[{erlang_ale,{git,"https://github.com/esl/erlang_ale",
		    {tag,"v0.1.0"}}}
      ]}.

{relx,[{release,{rpimonitor,"1.0.0"},[rpimonitor,sasl]},
       {sys_config,"./config/prod.config"},
       {vm_args,"./config/vm.args"},
       {mode,dev}
      ]}.

{shell,[{config,"config/dev.config"}]}.

{profiles,[{prod,[{relx,[{mode,prod},
			 {include_src,false},
			 {include_erts,true}]}]}
	  ]}.

